body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 23px;
    color: #ffffff;
}

h1 {
    font-family: 'Verdana', sans-serif;
    margin-top: 50px;
    margin-left: 18px;
    font-size: 50px;
    color: #8e20e2;
}

h2 {
    font-size: 19px;

}


.bemvindo {
    font-family: 'Arial', sans-serif;
    font-size: 23px;
    color: #ffffff;
    text-decoration: underline;

    margin-top: 18px;
    margin-bottom: 20px; 
    margin-left: 0px; 
    margin-right: 10px;
    line-height: 0.5;


}


.calculadora {
    margin: 80px auto 20px;
    padding: 30px; /* Aumentei o espaçamento interno */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    background-color: #686868;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: rgb(142, 32, 226);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
font-size: 13px;        
}


h3 {
    margin-top: 5px
}

.botao-voltar {
    position: relative;
    bottom: 20px;
    left: 100px;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #6a0faf;
    border: 2px solid #686868;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

.botao-voltar:hover {
    background-color: #851bd6;
}

@media (max-width: 600px) {
    h2 {
        margin-left: 10px;
        margin-right: 10px;
       line-hright: 1;
    }

    .calculadora {
        width: 90%;
    }

}

h4 {
            color: #8e20e2;
            margin-top: 18px;
            margin-bottom: 20px;
            margin-left: 46px;
            margin-right: 10px;
            font-size: 18px;
        }
